<?xml version="1.0" standalone="yes"?>
<EmoticonSet>
    <name>qbi</name>
    <line>2</line>
    <row>4</row>
    <iconUri>cry.gif</iconUri>
    <iconName></iconName>
    <isShowDelBtn>0</isShowDelBtn>
    <itemPadding>20</itemPadding>
    <horizontalSpacing>0</horizontalSpacing>
    <verticalSpacing>0</verticalSpacing>
    <EmoticonBeans>
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>cry.gif</iconUri>
            <content>大哭</content>
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>fadai.gif</iconUri>
            <content>发呆</content>
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>fighting.gif</iconUri>
            <content>奋斗</content>
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>jump.gif</iconUri>
            <content>跳跳</content>
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>laugh.gif</iconUri>
            <content>大笑</content>
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>miao.gif</iconUri>
            <content>喵喵</content>
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>moving.gif</iconUri>
            <content>感动</content>
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>sese.gif</iconUri>
            <content>色色</content>
        </EmoticonBean>
    </EmoticonBeans>
</EmoticonSet>