<?xml version="1.0" standalone="yes"?>
<EmoticonSet>
    <name>qbi</name>
    <line>2</line>
    <row>4</row>
    <iconUri>cover.png</iconUri>
    <isShowName>1</isShowName>
    <isShowDelBtn>0</isShowDelBtn>
    <itemPadding>20</itemPadding>
    <horizontalSpacing>0</horizontalSpacing>
    <verticalSpacing>0</verticalSpacing>
    <EmoticonBeans>
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>qbi_cry.gif</iconUri>
            <name>大哭</name>
            <tag>qbi_cry</tag>
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>qbi_fadai.gif</iconUri>
            <name>发呆</name>
            <tag>qbi_fadai</tag>
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>qbi_fighting.gif</iconUri>
            <name>奋斗</name>
            <tag>qbi_fighting</tag>
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>qbi_jump.gif</iconUri>
            <name>跳跳</name>
            <tag>qbi_jump</tag>
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>qbi_laugh.gif</iconUri>
            <name>大笑</name>
            <tag>qbi_laugh</tag>
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>qbi_miao.gif</iconUri>
            <name>喵喵</name>
            <tag>qbi_miao</tag>
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>qbi_moving.gif</iconUri>
            <name>感动</name>
            <tag>qbi_moving</tag>
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>qbi_sese.gif</iconUri>
            <name>色色</name>
            <tag>qbi_sese</tag>
        </EmoticonBean>
    </EmoticonBeans>
</EmoticonSet>