<EmoticonSet>
    <name>xhs</name>
    <line>3</line>
    <row>7</row>
    <iconUri>xhsemoji_19.png</iconUri>
    <isShowName>0</isShowName>
    <isShowDelBtn>1</isShowDelBtn>
    <itemPadding>20</itemPadding>
    <horizontalSpacing>0</horizontalSpacing>
    <verticalSpacing>0</verticalSpacing>
    <EmoticonBeans>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>xhsemoji_1.png</iconUri>
            <name>生气</name>
            <tag>[生气]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>xhsemoji_2.png</iconUri>
            <name>生气</name>
            <tag>[生气]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>xhsemoji_3.png</iconUri>
            <name>晕</name>
            <tag>[晕]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>xhsemoji_4.png</iconUri>
            <name>酷</name>
            <tag>[酷]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>xhsemoji_5.png</iconUri>
            <name>哭</name>
            <tag>[哭]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>xhsemoji_6.png</iconUri>
            <name>可爱</name>
            <tag>[可爱]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>xhsemoji_7.png</iconUri>
            <name>抠鼻</name>
            <tag>[抠鼻]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>xhsemoji_8.png</iconUri>
            <name>昏掉</name>
            <tag>[昏掉]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>xhsemoji_9.png</iconUri>
            <name>寒冷</name>
            <tag>[寒冷]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>xhsemoji_10.png</iconUri>
            <name>哈哈</name>
            <tag>[哈哈]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>xhsemoji_11.png</iconUri>
            <name>无语</name>
            <tag>[无语]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>xhsemoji_12.png</iconUri>
            <name>亲亲</name>
            <tag>[亲亲]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>xhsemoji_13.png</iconUri>
            <name>闪亮</name>
            <tag>[闪亮]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>xhsemoji_14.png</iconUri>
            <name>爆炸</name>
            <tag>[爆炸]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>xhsemoji_15.png</iconUri>
            <name>问号</name>
            <tag>[问号]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>xhsemoji_16.png</iconUri>
            <name>绅士</name>
            <tag>[绅士]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>xhsemoji_17.png</iconUri>
            <name>啊啊</name>
            <tag>[啊啊]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>xhsemoji_18.png</iconUri>
            <name>闭嘴</name>
            <tag>[闭嘴]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>xhsemoji_19.png</iconUri>
            <name>爱心</name>
            <tag>[爱心]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>xhsemoji_20.png</iconUri>
            <name>窃喜</name>
            <tag>[窃喜]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>xhsemoji_21.png</iconUri>
            <name>大笑</name>
            <tag>[大笑]</tag>
        </EmoticonBean>
    </EmoticonBeans>
</EmoticonSet>