<?xml version="1.0" standalone="yes"?>
<EmoticonSet>
    <name>test</name>
    <line>2</line>
    <row>4</row>
    <iconUri>icon_030_cover.png</iconUri>
    <iconName></iconName>
    <isShowDelBtn>0</isShowDelBtn>
    <itemPadding>20</itemPadding>
    <horizontalSpacing>0</horizontalSpacing>
    <verticalSpacing>0</verticalSpacing>
    <EmoticonBeans>
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>icon_002_cover.png</iconUri>  
            <content>哭</content> 
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>icon_007_cover.png</iconUri> 
            <content>嘚瑟</content> 
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>icon_010_cover.png</iconUri> 
            <content>手舞足蹈</content> 
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>icon_012_cover.png</iconUri> 
            <content>叮铃</content> 
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>icon_013_cover.png</iconUri> 
            <content>拜拜</content> 
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>icon_018_cover.png</iconUri> 
            <content>闪亮</content> 
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>icon_019_cover.png</iconUri> 
            <content>抱奶瓶</content> 
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>icon_020_cover.png</iconUri> 
            <content>晚安</content> 
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>icon_021_cover.png</iconUri> 
            <content>飞吻</content> 
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>icon_022_cover.png</iconUri> 
            <content>切</content> 
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>icon_024_cover.png</iconUri> 
            <content>使劲摇</content> 
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>icon_027_cover.png</iconUri> 
            <content>生日快乐</content> 
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>icon_029_cover.png</iconUri> 
            <content>我最帅</content> 
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>icon_030_cover.png</iconUri> 
            <content>抓墙</content> 
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>icon_035_cover.png</iconUri> 
            <content>扭屁股</content> 
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>icon_040_cover.png</iconUri> 
            <content>印度舞</content> 
        </EmoticonBean>  
    </EmoticonBeans>
</EmoticonSet>