<?xml version="1.0" standalone="yes"?>
<EmoticonSet>
    <name>tusiji</name>
    <line>2</line>
    <row>4</row>
    <isShowName>1</isShowName>
    <iconUri>icon_030_cover.png</iconUri>
    <isShowDelBtn>0</isShowDelBtn>
    <itemPadding>30</itemPadding>
    <horizontalSpacing>0</horizontalSpacing>
    <verticalSpacing>0</verticalSpacing>
    <EmoticonBeans>
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>icon_002_cover.png</iconUri>
            <name>哭</name>
            <tag>tusiji_cry</tag>
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>icon_007_cover.png</iconUri> 
            <name>嘚瑟</name>
            <tag>tusiji_dese</tag>
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>icon_010_cover.png</iconUri> 
            <name>手舞足蹈</name>
            <tag>tusiji_dance</tag>
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>icon_012_cover.png</iconUri> 
            <name>叮铃</name>
            <tag>tusiji_dingling</tag>
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>icon_013_cover.png</iconUri> 
            <name>拜拜</name>
            <tag>tusiji_bye</tag>
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>icon_018_cover.png</iconUri> 
            <name>闪亮</name>
            <tag>tusiji_shining</tag>
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>icon_019_cover.png</iconUri> 
            <name>抱奶瓶</name>
            <tag>tusiji_milk</tag>
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>icon_020_cover.png</iconUri> 
            <name>晚安</name>
            <tag>tusiji_goodnight</tag>
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>icon_021_cover.png</iconUri> 
            <name>飞吻</name>
            <tag>tusiji_kiss</tag>
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>icon_022_cover.png</iconUri> 
            <name>切</name>
            <tag>tusiji_qie</tag>
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>icon_024_cover.png</iconUri> 
            <name>使劲摇</name>
            <tag>tusiji_shake</tag>
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>icon_027_cover.png</iconUri> 
            <name>生日快乐</name>
            <tag>tusiji_happybirthday</tag>
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>icon_029_cover.png</iconUri> 
            <name>我最帅</name>
            <tag>tusiji_handsome</tag>
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>icon_030_cover.png</iconUri> 
            <name>抓墙</name>
            <tag>tusiji_zhuaqiang</tag>
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>icon_035_cover.png</iconUri> 
            <name>扭屁股</name>
            <tag>tusiji_niupigu</tag>
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>2</eventType> 
            <iconUri>icon_040_cover.png</iconUri> 
            <name>印度舞</name>
            <tag>tusiji_india</tag>
        </EmoticonBean>  
    </EmoticonBeans>
</EmoticonSet>