<?xml version="1.0" standalone="yes"?>
<EmoticonSet>
    <name>qunhe</name>
    <line>3</line>
    <row>7</row>
    <isShowName>0</isShowName>
    <iconUri>emoji_icon.png</iconUri>
    <isShowDelBtn>1</isShowDelBtn>
    <itemPadding>20</itemPadding>
    <horizontalSpacing>8</horizontalSpacing>
    <verticalSpacing>8</verticalSpacing>
    <EmoticonBeans>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_1.png</iconUri>
            <name>色</name>
            <tag>[色]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_2.png</iconUri>
            <name>白眼</name>
            <tag>[白眼]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_3.png</iconUri>
            <name>笑哭</name>
            <tag>[笑哭]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_4.png</iconUri>
            <name>疑惑</name>
            <tag>[疑惑]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_5.png</iconUri>
            <name>难过</name>
            <tag>[难过]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_6.png</iconUri>
            <name>惊呆</name>
            <tag>[惊呆]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_7.png</iconUri>
            <name>傲慢</name>
            <tag>[傲慢]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_8.png</iconUri>
            <name>眨眼</name>
            <tag>[眨眼]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_9.png</iconUri>
            <name>得意</name>
            <tag>[得意]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_10.png</iconUri>
            <name>斜眼</name>
            <tag>[斜眼]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_11.png</iconUri>
            <name>睡</name>
            <tag>[睡]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_12.png</iconUri>
            <name>发怒</name>
            <tag>[发怒]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_13.png</iconUri>
            <name>微笑</name>
            <tag>[微笑]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_14.png</iconUri>
            <name>生病</name>
            <tag>[生病]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_15.png</iconUri>
            <name>可爱</name>
            <tag>[可爱]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_16.png</iconUri>
            <name>惊恐</name>
            <tag>[惊恐]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_17.png</iconUri>
            <name>流汗</name>
            <tag>[流汗]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_18.png</iconUri>
            <name>亲亲</name>
            <tag>[亲亲]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_19.png</iconUri>
            <name>饿</name>
            <tag>[饿]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_20.png</iconUri>
            <name>飞吻</name>
            <tag>[飞吻]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_21.png</iconUri>
            <name>龇牙</name>
            <tag>[龇牙]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_22.png</iconUri>
            <name>难受</name>
            <tag>[难受]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_23.png</iconUri>
            <name>emm</name>
            <tag>[emm]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_24.png</iconUri>
            <name>困</name>
            <tag>[困]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_25.png</iconUri>
            <name>生气</name>
            <tag>[生气]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_26.png</iconUri>
            <name>憨笑</name>
            <tag>[憨笑]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_27.png</iconUri>
            <name>调皮</name>
            <tag>[调皮]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_28.png</iconUri>
            <name>酷</name>
            <tag>[酷]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_29.png</iconUri>
            <name>闭嘴</name>
            <tag>[闭嘴]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_30.png</iconUri>
            <name>冷汗</name>
            <tag>[冷汗]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_31.png</iconUri>
            <name>晕</name>
            <tag>[晕]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_32.png</iconUri>
            <name>抓狂</name>
            <tag>[抓狂]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_33.png</iconUri>
            <name>发呆</name>
            <tag>[发呆]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_34.png</iconUri>
            <name>惊讶</name>
            <tag>[惊讶]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_35.png</iconUri>
            <name>大哭</name>
            <tag>[大哭]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_36.png</iconUri>
            <name>猪</name>
            <tag>[猪]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_37.png</iconUri>
            <name>不听</name>
            <tag>[不听]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_38.png</iconUri>
            <name>满分</name>
            <tag>[满分]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_39.png</iconUri>
            <name>唇印</name>
            <tag>[唇印]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_40.png</iconUri>
            <name>鬼脸</name>
            <tag>[鬼脸]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_41.png</iconUri>
            <name>吐</name>
            <tag>[吐]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_42.png</iconUri>
            <name>害羞</name>
            <tag>[害羞]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_43.png</iconUri>
            <name>点赞</name>
            <tag>[点赞]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_44.png</iconUri>
            <name>鼓掌</name>
            <tag>[鼓掌]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_45.png</iconUri>
            <name>中箭</name>
            <tag>[中箭]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_46.png</iconUri>
            <name>拒绝</name>
            <tag>[拒绝]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_47.png</iconUri>
            <name>OK</name>
            <tag>[OK]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_48.png</iconUri>
            <name>糖果</name>
            <tag>[糖果]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_49.png</iconUri>
            <name>饭</name>
            <tag>[饭]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emoji_50.png</iconUri>
            <name>举手</name>
            <tag>[举手]</tag>
        </EmoticonBean>
    </EmoticonBeans>
</EmoticonSet>